h1, h2{
    text-align: center;
    color: #fff;
    font-weight: bold;
}

h1{
    font-size: 1.5rem;
    color: #cf54a6;
    font-weight: normal;
    margin: 2rem 0 1rem 0;
}

h2{
    font-size: 3rem;
}

#fall-back{
    color: white;
    text-align: center;
}